RAG agent 2.0.json
{
  "name": "RAG agent 2.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        -448
      ],
      "id": "b496bcff-f905-42fb-b25b-681c147d4908",
      "name": "Telegram Trigger",
      "webhookId": "0fe746ac-815b-4ec2-b29b-fcd235b24bae",
      "credentials": {
        "telegramApi": {
          "id": "eNSYzt3c09KCugjD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the user query: {{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a RAG AI Agent, call the retrieval tool and fetch the correct details from the vector DB,\n If the answer is wrong, fallback to the LLM and answer to the general knowledge.\nif user ask anything latest, current data -call serpapi(google search and then answerit."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -416,
        -464
      ],
      "id": "753d2257-512e-4921-956d-caeb3ff92951",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        -272
      ],
      "id": "ae1360e6-aa89-4c2d-a33d-78b83db47bfa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "D1GrunxxPUO3Ar9t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=Telegram_{{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        -272
      ],
      "id": "1eb9bf45-3cc0-4846-98c6-460204ab437e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        -464
      ],
      "id": "d9631648-859c-4a5d-a7f9-47265baa8e68",
      "name": "Send a text message",
      "webhookId": "60f255d1-2704-4eb6-9f49-77e7a9c747f6",
      "credentials": {
        "telegramApi": {
          "id": "eNSYzt3c09KCugjD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ciVK-9q-r6fKBPrtxKQ2Z_NZf3Q4ASrl",
          "mode": "list",
          "cachedResultName": "N8Ndrive",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ciVK-9q-r6fKBPrtxKQ2Z_NZf3Q4ASrl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -448
      ],
      "id": "9adb7992-54d7-43d6-b914-678740256007",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADHGHHNcnBUhnZVL",
          "name": "GENAIDRIVE"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1104,
        -448
      ],
      "id": "9004f546-066c-44e6-8a1a-f01bc1ab1168",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADHGHHNcnBUhnZVL",
          "name": "GENAIDRIVE"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "genai",
          "mode": "list",
          "cachedResultName": "genai"
        },
        "options": {
          "pineconeNamespace": "=Demo-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -960,
        -464
      ],
      "id": "4154ede3-c5dc-49a3-90a8-0643000da6ba",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MJSdGocBoEqDwi2H",
          "name": "GENai"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        -272
      ],
      "id": "fe48933b-7aa5-43df-84a8-152f01db3fb1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "D1GrunxxPUO3Ar9t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -816,
        -272
      ],
      "id": "88c43b40-1c2b-4379-9b9f-66bf8bc114b8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "description": "retrive the context based on user query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -128,
        -272
      ],
      "id": "b0985e1e-a3bc-4b24-8c19-7be2fb23a359",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        -112
      ],
      "id": "c4bfcc18-d98d-4d0b-86f2-879e224eb34f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "D1GrunxxPUO3Ar9t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "genai",
          "mode": "list",
          "cachedResultName": "genai"
        },
        "options": {
          "pineconeNamespace": "Demo-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -272,
        -96
      ],
      "id": "8f223eee-ea83-4e91-bb56-ef6670bf1b3f",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "MJSdGocBoEqDwi2H",
          "name": "GENai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        48
      ],
      "id": "d942daad-0dd0-44d8-97dc-a278a04578bb",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "D1GrunxxPUO3Ar9t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -224,
        -272
      ],
      "id": "f89488f2-8bf4-453e-8c05-415d3721f11f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "k63xuQRYRESLZqgF",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -736,
        -64
      ],
      "id": "788472d2-9ce3-4720-a08d-a7d29435e021",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63277106-b2a6-4d3c-a4ea-9c3e2f9c0395",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e20ea4ebb4b4d5677921a47f101670e0e6261f3983631a172e44bb907c01b513"
  },
  "id": "7DQ3J0xEINnCrEbX",
  "tags": []
}